.modalWindowOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  position: relative;
  background: white;
  border-radius: 15px;
  gap: 24px;
  padding: 40px;
  width: 518px;
  color: #323f47;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.title {
  color: #323f47;
  font-weight: 700;
  font-size: 28px;
  text-align: left;
  line-height: 32px;
  margin-bottom: 24px;
}

.subTitle {
  color: #323f47;
  font-weight: 700;
  font-size: 18px;
  text-align: left;
  margin-bottom: 20px;
}

.input {
  border: 1px solid rgba(47, 47, 47, 0.15);
  border-radius: 15px;
  padding: 16px;
  width: 90%;
  position: relative;
  cursor: pointer;
}

.input::-webkit-calendar-picker-indicator {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  background: transparent;
  appearance: none;
  position: absolute;
  cursor: pointer;
}

.amountChangeButton {
  background: none;
}

.controlsWrap {
  display: flex;
  gap: 8px;
}

.inputWrap {
  background-color: #323f47;

  padding: 11px 20px;
  color: white;
  font-weight: 700;
  font-size: 15px;
  border-radius: 30px;
}

.AmountBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  margin-bottom: 16px;
}

.TimeBlock {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
}

vv
.inputBlock {
  margin-top: 24px;
}

.closeModal {
  position: relative;
  width: 100%;
}

.close {
  background-color: transparent;
  position: absolute;
  top: 22px;
  right: 22px;
  display: block;
}

.img {
  display: block;
}
