.text {
  font-weight: 700;
  font-size: 32px;
  color: #323f47;
}

.textLocal {
  font-weight: 700;
  font-size: 16px;
  color: #323f47;
}

.plusImg {
  background-color: #9be1a0;
  border-radius: 30px;
}

.actionList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 49px;
}

.addWaterWrap {
  width: 124px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Block {
  display: flex;
  gap: 16px;
  justify-content: space-between;
  overflow-x: scroll;
  padding: 10px;
  padding-bottom: 32px;
}

.miniBlocks {
  width: 220px;
  background-color: white;
  display: flex;
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
}

.textML {
  font-weight: 700;
  font-size: 15px;
  display: flex;

  flex-wrap: nowrap;
  width: 70px;
}

.textTime {
  font-weight: 400px;
  font-size: 12px;
}

.textTimaAndMl {
  width: 52px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

::-webkit-scrollbar-track {
  border-radius: 4px;
  background-color: white;
}

::-webkit-scrollbar-thumb {
  background: #37424a;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2c343a;
}
.glassImg {
  width: 32px;
  height: auto;
}

.imges {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: transparent;
}
.placeholder {
  height: 130px;
}

.trashBox{
  background: none;
  background-color: none;
}